/*Estilos input: placeholder*/  
            ::place holder{
                color:slategray; font-size: 12px; font-sytle: italic;
            }
            #espacio{
                width: 350px;
                margin-left: 540px;
                margin-top: 340px;
                background-color: white;
                position: absolute;
            }

            table{
                border-color: #ecedee;
                border-width: 3px;
                margin: 25px;
            }
            td.titulo{
                text-align: center;
                color:brown;
                font-weight: bold;
                word-spacing: 5px;
            }
            td.subtitulo{
                text-align: left;
                font-weight: bold;
                word-spacing: 3px;
                background-color: buttonface;
            }
            .rangos{
                width: 20px; font-size: 10px; text-align: center; color: #adb5bd;
                border-radius: 50px; border-color: #adb5bd;
            }
            
            
                        
            